spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/auth/**,/user/**
              filters:
              - JwtAuthenticationFilter
            - id: book-service
              uri: lb://BOOK-SERVICE
              predicates:
                - Path=/book/**,/booklike/**
              filters:
                - name: JwtAuthenticationFilter
            - id: readingclub-service
              uri: lb://READINGCLUB-SERVICE
              predicates:
                - Path=/reading-club/**,/review/**
              filters:
                - JwtAuthenticationFilter

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8000
jwt:
  secret: aVeryLongAndSecureSecretKeyForHS256AlgorithmThatMustBeAtLeast32Bytes